<launch>
	<node name="right_wheel" pkg="differential_drive" type="wheel_encoder" output="screen">
		<param name="pinNameA"           value="P9_12"  />
		<param name="pinNameB"           value="P9_11"  />
		<param name="ticks_per_rotation" value="612"   />
		<param name="wheel_radius"       value="0.0762" />
	</node>
	<node name="right_motor" pkg="differential_drive" type="motor_pid.py" args="--debug" output="screen">
		<param name="pinNameFwd"           value="P9_23"  />
		<param name="pinNameBwd"           value="P9_25" />
		<param name="pinNameCmd"           value="P9_14" />
		<param name="timeout"              value="20"     />
	</node>
</launch>
