<launch>
	<node name="right_wheel" pkg="differential_drive" args="--debug" type="wheel_encoder.py" output="screen">
		<param name="pinNameA"           value="P9_11"  />
		<param name="pinNameB"           value="P9_13"  />
		<param name="ticks_per_rotation" value="1224"   />
		<param name="wheel_radius"       value="0.0762" />
	</node>
	<node name="right_motor" pkg="differential_drive" args="--debug" type="motor_pid.py" output="screen">
		<param name="pinNameFwd"           value="P9_23"  />
		<param name="pinNameBwd"           value="P9_25" />
		<param name="pinNameCmd"           value="P9_14" />
		<param name="timeout"              value="5"     />
	</node>
</launch>
