<launch>
	<node name="left_wheel" pkg="differential_drive" type="wheel_encoder.py" output="screen">
		<param name="pinNameA"           value="P9_15"  />
		<param name="pinNameB"           value="P9_17"  />
		<param name="ticks_per_rotation" value="2448"   />
		<param name="wheel_radius"       value="0.0762" />
	</node>
</launch>
